
.header{
  margin: 20;
  background-color: rgba(18, 26, 34, 0.897);
  color:rgb(0, 136, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height:50px;
  text-align: center;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
